<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <application>

        <provider
            android:name="ma.ya.core.helperClasses.MAFileProvider"
            android:authorities="ma.ya.core.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"/>

    </application>

</manifest>